// Borders
$rounded: 5px;
$rounded-pill: 15px;

// Font sizes
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 24px;
$font-xxxl: 30px;

// Font weights
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 600;
$font-black: 700;

// Shadows
$shadow-subdue: #00000059 0px 5px 15px;
