@use './mixins';
@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  // CSS debugger
  outline: 1px solid red;
}

@mixin bg-img($url) {
  background: url($url) no-repeat;
  background-size: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  // @include bg-img(
  //   'https://images.unsplash.com/photo-1517790253044-a9968449de15'
  // );
}

/* @define page-layout */
.page-layout {
  position: relative;
  height: 100vh;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1517790253044-a9968449de15')
      no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(20px) brightness(0.5);
  }

  &__container {
    width: 100%;
    margin: 30px;
    @include mixins.flex-layout($flex-direction: column);
    @media only screen and (max-width: variables.$mobile-breakpoint) {
      margin: 5px;
    }
  }
}
