@use '../../common/style/mixins';
@use '../../common/style/colors';
/* @define searchable-dropdown */
.searchable-dropdown {
  position: relative;
  width: 100%;

  &__options-container {
    width: 100%;
  }
  &__button {
    width: 100%;
  }

  &__list {
    padding: 0 10px;
    width: 100%;
    position: absolute;
    z-index: 999;
    background-color: colors.$glass-strong;
    max-height: 15.625rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__option {
    cursor: pointer;
    padding: 7px;
  }
}
