@use '../../common/style/mixins';
@use '../../common/style/variables';
@use '../../common/style/colors';

/* @define personal-preferences-controls */
.personal-preferences-controls {
  margin: 1.25rem 0;
  width: 200px;
  padding: 10px;
  background-color: colors.$glass-faint;
  border-radius: 10px;
  @include mixins.flex-layout($flex-direction: column, $gap: 1.25rem);
  &__filters {
    width: 100%;
    @include mixins.flex-layout($flex-direction: column, $gap: 0.625rem);
  }
}
