@use '../../common/style/mixins';
@use '../../common/style/variables';

/* @define preferences */
.preferences {
  width: 100%;
  @include mixins.flex-layout(
    $flex-direction: column,
    $justify-content: flex-start,
    $align-items: flex-start
  );
  &__container {
    @include mixins.font-style(
      $font-size: variables.$font-sm,
      $font-weight: variables.$font-medium
    );
  }
}
