@use '../../../common/style/mixins';
@use '../../../common/style/variables';

/* @define news-articles */
.news-articles {
  margin: 1.25rem;

  &__list {
    height: 85vh;
    padding: 1.25rem !important;
    overflow-y: scroll;
    overflow-x: hidden;

    @include mixins.grid-layout($gap: 20px);
    @media only screen and (max-width: variables.$mobile-breakpoint) {
      @include mixins.grid-layout($gap: 10px, $grid-template-columns: 1fr);
    }
  }
}
