@use '../../common/style/mixins';
@use '../../common/style/variables';

/* @define news-articles */
.news-articles {
  margin: 20px;

  &__list {
    height: 80vh;
    padding: 20px !important;
    overflow-y: scroll;
    overflow-x: hidden;

    @include mixins.grid-layout($gap: 20px);
    @media only screen and (max-width: variables.$mobile-breakpoint) {
      @include mixins.grid-layout($gap: 10px, $grid-template-columns: 1fr);
    }
  }
}
